<!--Navbar-->
<nav class="navbar navbar-light white sticky-top scrolling-navbar smooth-scrolling">
    <a class="navbar-brand" href="#">
        <span class="badge navbar-brand-badge mask rgba-teal-strong">Covid-19</span><br>
        <span>tracker</span><br>
        <span class=" header-three badge navbar-brand-badge mask rgba-teal-strong"> India</span>
    </a>
</nav>
<!--/.Navbar-->
<div class=" grey-text text-center mt-5 mb-5 mr-5 ml-5 " style="animation-delay: 0.2s;">
    <div class="snippet" *ngIf="BannerData else noBanner">
        <h6 class="h6-responsive">{{BannerData}} </h6>
    </div>
    <ng-template #noBanner>
        <div class="snippet">#BreakTheChain of unverified WhatsApp forwards which spread wrong information! Do not forward unless you verify it.</div>
    </ng-template>
</div>
<router-outlet></router-outlet>